@import "tailwindcss";

@theme {
  --font-barlow: var(--font-barlow), sans-serif;
  --font-bellefair: var(--font-bellefair), serif;
  --font-barlow-condensed: var(--font-barlow-condensed), sans-serif;
}
